{% extends 'layout.html' %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light py-2">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="../static/images/NVS-logos.jpeg" alt="" width="50" height="50">
            NVS Clinics
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="appointment.html">Request an appointment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="register.html">Patient registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login">Patient login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Disease compendium</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="dict-container">

    <link rel="stylesheet" href="https://icdcdn.who.int/embeddedct/icd11ect-1.5.1.css">

    <div class="ctw-eb-window" data-ctw-ino="1"></div>

    <script src="https://icdcdn.who.int/embeddedct/icd11ect-1.5.1.js"></script>

</div>
<script>
    const mySettings = {
        apiServerUrl: "https://icd11restapi-developer-test.azurewebsites.net",
    };

    ECT.Handler.configure(mySettings);
</script>

{% endblock %}